# NPM
node_modules/
npm-debug.log

# Hugo
public/
resources/
.hugo_build.lock

# Dev Container
.devcontainer/.env

# IDE
.idea
*.sublime-project
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
._*
Thumbs.db
.DS_Store
.Trashes
.Spotlight-V100
.AppleDouble
.LSOverride
Desktop.ini

# Test files
test-*.html
